@charset "UTF-8";
#top4{
	margin-top: 50px;
	height: 38px;
	background-color: #afc6f5;
	box-shadow: 0px 0px 10px yellow;
	opacity: 0.8;
}
#top4 #top4_left{
	font-size: 25px;
	margin: 2.5px;
	display: inline-block;
}
#pro_list {
	background-color:white;
	height: 396px;
	box-shadow: 0px 0px 15px yellow;
}

#pro_list table th{
	border:1px solid black;
	width:200px;
	margin-left: 20px;
}

#pro_list table{
	width:1213ps;
	border:1px solid black;
}

#pro_list table tbody td{
	border:1px solid black;
	margin-left: 20px;
}